flows.json
[{"id":"31063542.3397da","type":"debug","z":"e159940c.b8e218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":500,"wires":[]},{"id":"bec2d4e3.20b688","type":"function","z":"e159940c.b8e218","name":"","func":"if (msg.payload.temperature > 20) {   \n    node.send({      \n        topic: \"Assunto: Sistema .... \",\n        payload: \"Temperatura:\" + msg.payload.temperature,})}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":400,"wires":[["9826e6a6.0b55e8","855209b0.a62a78"]]},{"id":"855209b0.a62a78","type":"e-mail","z":"e159940c.b8e218","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"alvesericandrade@gmail.com","dname":"Email de Temperatura","x":910,"y":400,"wires":[]},{"id":"9826e6a6.0b55e8","type":"debug","z":"e159940c.b8e218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":300,"wires":[]},{"id":"99e90ec6.ec244","type":"arduino in","z":"e159940c.b8e218","name":"Termômetro","pin":"0","state":"ANALOG","arduino":"4036778c.a72728","x":350,"y":400,"wires":[["bec2d4e3.20b688","31063542.3397da"]]},{"id":"4036778c.a72728","type":"arduino-board","device":"COM5"}]